#header {
    background-color: #f2f2f2;
    padding: 20px 0px;
    border-bottom: 1px solid #d0d0d0;
}
#header .container {
    position: relative;
}
#search-form {
    position: relative;
    top: 30px;
}
#search-form .form-group:first-child, #search-form input[type=search] {
    width: 350px;
}
#search-form input[type=search] {
    padding: 20px 10px;
}
#search-form button {
    padding: 10px;
}
#admin-link {
    position: absolute;
    top: 0px;
    right: 50px;
}

#breadcrumbs-panel {
    background-color: #fafafa;
    border-bottom: 1px solid #d0d0d0;
    padding: 10px 0;
    margin-bottom: 20px;
}
.breadcrumb {
    background-color: #fafafa;
    margin-bottom: 0px;
    padding-left: 0;
}

#content {
    margin-bottom: 100px;
}

#categories-overview {
    margin-top: 20px;
}
#categories-overview li {
    display: inline-block;
    width: 30%;
    font-size: 2em;
    line-height: 2.5em;
}
#categories-overview li a {
    padding: 15px;
}
#categories-overview li a:hover {
    background-color: #ededed;
    border-radius: 5px;
    text-decoration: none;
}

.price {
    color: #f26726;
}
.no-result {
    text-align: center;
    margin-top: 50px;
}

.products-list {
    padding: 0px;
}
.products-list li {
    position: relative;
    list-style-type: none;
    padding: 20px 0;
    border: 2px solid #ededed;
    height: 200px;
}
.products-list li:hover {
    border: 2px solid #bcbcbc;
}
.products-list li .image {
    position: absolute;
    width: 160px;
    height: 160px;
    text-align: center;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.products-list li .image img.product-image  {
    max-height: 150px;
    max-width: 140px;
}
.products-list li .text {
    position: absolute;
    left: 150px;
    padding-left: 20px;
}
.products-list li .price {
    position: absolute;
    right: 50px;
    bottom: 60px;
    font-size: 1.4em;
}
.products-list .item-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}


.product-detail .clearfix {
    margin-bottom: 35px;
}
.product-detail .product-image {
    max-height: 400px;
    max-width: 380px;
}
.product-detail .price-line {
    margin: 20px 0;
}
.product-detail .price {
    font-size: 2em;
    font-weight: bold;
}
.product-detail .similar-products-list li {
    display: block;
    width: 30%;
}


.page-header {
    margin-top: 10px;
    color: #274f7d;
}


.admin #header h1 {
    margin-top: 10px;
    margin-bottom: 20px;
}
.filter-form {
    margin-bottom: 20px;
}
.filter-form .form-group {
    margin-right: 15px;
}
img.product-image {
    max-height: 200px;
}
.similar-products-list {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 5px;
}
.similar-products-list li {
    display: block;
}
.similar-products-list li .close {
    margin-left: 20px;
    float: none;
}
