<html>
    <head lang="cs">
        <title class="title">Interiéry.cz</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

        <!-- CSS -->
        <link rel="stylesheet" href="/css/styles.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <header id="header"></header>
        
        <div id="breadcrumbs-panel">
            <div class="container">
                <ol class="breadcrumb"></ol>
            </div>
        </div>

        <div role="main" class="container">
            <div id="content"></div>
        </div>        
        
        <script type="text/x-jquery-tmpl" id="tmpl-header">
            <div class="container">
                <div id="logo" class="col-md-4">
                    <a href="/"><img src="images/logo.png" alt="Interiéry.cz" width="400" height="86" /></a>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <form class="form-inline" role="form" id="search-form">
                        <div class="form-group">
                            <input type="search" class="form-control" id="search" placeholder="např. Křeslo, Skříň">     
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Hledat</button>
                        </div>
                    </form>               
                </div>
                <small id="admin-link"><a href="/login/">Administrace</a></small>  
            </div>
        </script>
        
        <script type="text/x-jquery-tmpl" id="tmpl-categories">
            <ul id="categories-overview">
                {{ categories.each(function(model){ }}
                    {{ var category = model.toJSON(); }}
                    <li><a href="/#products/category={{= category.id }}">{{= category.name }}</a></li>
                {{ }); }}
            </ul>
        </script>
        
        <script type="text/x-jquery-tmpl" id="tmpl-products">
            <form class="form-inline filter-form" role="form">
                <div class="form-group">
                    <label for="category-select">Kategorie:</label>
                    <select class="form-control" id="category-select">
                        <option value>Všechny kategorie</option>
                        {{ categories.each(function(model){ }}
                            {{ var category = model.toJSON(); }}
                            <option value="{{= category.id }}">{{= category.name }}</option>
                        {{ }); }}
                    </select>
                </div>
                <div class="form-group">
                    <label for="price-from">Cena od:</label>
                    <input type="number" class="form-control" id="price-from"> Kč
                </div>
                <div class="form-group">
                    <label for="price-to">Cena do:</label>
                    <input type="number" class="form-control" id="price-to"> Kč
                </div>
                <button type="submit" class="btn btn-default">Filtrovat</button>
            </form>
    
            {{ if(products.length > 0){ }}
                <ul class="products-list">
                    {{ products.each(function(model){ }}
                        {{ var product = model.toJSON(); }}
                        <li>
                            <article>
                                <div class="image"><span class="helper"></span><img src="{{= product.imageURL }}" alt="{{= product.name }}" class="product-image" /></div>
                                <div class="text">
                                    <h3><a href='#e-shops/detail/{{= product.eshop.id }}/products/detail/{{= product.id }}'>{{= product.name }}</a></h3>
                                    <p>{{= product.description }}</p>
                                </div>
                                <div class="price"><strong>{{= product.priceWithVAT }}</strong> Kč</div>
                                <a class="item-link" href='#e-shops/detail/{{= product.eshop.id }}/products/detail/{{= product.id }}'></a>
                            </article>
                        </li>
                    {{ }); }}
                </ul>
                <div class="paginator"></div>
            {{ } else { }}
                <p class="no-result">Nebyly nalezeny žádné produkty.</p>
            {{ } }}
        </script>    
        
        <script type="text/x-jquery-tmpl" id="tmpl-product-detail">  
            <article class="product-detail">
                <h3 class="page-header">{{= product.name }}</h3>

                <div class="col-md-4">
                    <a href="{{= product.imageURL }}"><img src="{{= product.imageURL }}" alt="{{= product.name }}" class="product-image" /></a> 
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <p>{{= product.description }}</p>
                    <div class="price-line">
                        <p><span class="price">{{= product.priceWithVAT }} Kč</span> s DPH</p>
                        <p>({{= product.price }} Kč bez DPH)</p>
                    </div>
                    <a href="{{= product.url }}" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-gift"></span> Do obchodu</a>
                </div>
                <div class="clearfix">...</div>
            </article>
            <article>
                {{ if(product.similarProducts.length > 0){ }}
                    <h4>Také by Vás mohlo zajímat</h4>
            
            
                    <ul class="products-list">
                        {{ $.each(product.similarProducts, function(i, item) { }}
                            <li>
                                <article>
                                    <div class="image"><span class="helper"></span><img src="{{= item.imageURL }}" alt="{{= item.name }}" class="product-image" /></div>
                                    <div class="text">
                                        <h3><a href='#e-shops/detail/{{= item.eshop.id }}/products/detail/{{= item.id }}'>{{= item.name }}</a></h3>
                                        <p>{{= item.description }}</p>
                                    </div>
                                    <div class="price"><strong>{{= item.priceWithVAT }}</strong> Kč</div>
                                    <a class="item-link" href='#e-shops/detail/{{= item.eshop.id }}/products/detail/{{= item.id }}'></a>
                                </article>
                            </li>
                         {{});}}
                    </ul>
                {{}}}
            </article>
        </script>
        
        <script type="text/x-jquery-tmpl" id="tmpl-paginator">
            <ul class="pagination">
                <li class="prev"><a href="">&laquo;</a></li>
                {{ for(p=1;p<=totalPages;p++){ }}
                    {{ if (currentPage == p) { }}
                      <li class="active page"><a href="" data-page="{{= p }}">{{= p }} <span class="sr-only">(current)</span></a></li>
                    {{ } else { }}
                      <li class="page"><a href="" data-page="{{= p }}">{{= p }}</a></li>
                    {{ } }}
                {{}}}
                <li class="next"><a href="">&raquo;</a></li>
            </ul>
        </script>

        <!-- jQuery -->
        <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.0.js"></script>
        <script src="/js/jquery/jquery.browser.min.js"></script>
        <script src="/js/jquery/jquery.ba-bbq.js"></script>

        <!-- Bootstrap JS -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        
        <!-- Backbone.js -->
        <script src="/js/backbone/underscore-min.js"></script>
        <script src="/js/backbone/json2.js"></script>
        <script src="/js/backbone/backbone.js"></script>

        <!-- Settings -->
        <script src="/js/app/Settings.js"></script>
        
        <!-- Models -->
        <script src="/js/app/models/Category.js"></script>
        <script src="/js/app/models/Eshop.js"></script>
        <script src="/js/app/models/Product.js"></script>
        
        <!-- Views -->
        <script src="/js/app/views/front/HeaderView.js"></script>
        <script src="/js/app/views/front/CategoriesView.js"></script>
        <script src="/js/app/views/front/ProductList.js"></script>
        <script src="/js/app/views/front/ProductDetail.js"></script>
        <script src="/js/app/views/Paginator.js"></script>
        
        <!-- Router - application starts -->
        <script src="/js/app/router/FrontRouter.js"></script>

        <script>
            $.ajax({
                url: "/api",
                type: "GET",
                async: false
            });
        </script>
    </body>
</html>
